.tabsContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.tabButton {
  padding: 8px 16px;
  background: #eee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.tabButton.active {
  background: var(--aqua);
  color: white;
}
