.routerlinkDefault {
    color: gray;
    text-decoration: none;
    width: 80px;
}

.routerlinkDefault:hover {
    transition: 0.8s;
    transform: scale(2px, 2px);
    color: rgb(221, 221, 221);
}

.routerlinkBtn {
    border-radius: 8px;
    background-color: rgb(101, 155, 255);
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}